body {
  margin: 0 ;
  width: 80vw;
  background: red;
  width: 100vw;
  padding: 0;
}
p {
  margin: 1em 0;
}
nav {
  width: 100vw;
  margin: 0 auto;
  background: lightgray;
  padding: 1em;
  div {
    margin: 0 2em;
    display: inline-block;
  }
}
author {
  display: block;
  text-align: right;
  margin-bottom: 1em;
}
img {
  width: 200px;
}
main {
  width: 80vw;
  padding: 2em;
  margin: 1em auto;
  background: lightgray;
}
article {
  margin-bottom: 1em;
}
.block {
  width:60vw;
  margin-left: 16vw;
}
.thumbnail {
  width: 15vw;
  height: 150px;
  overflow: hidden;
  display: block;
  float: left;
}
